$white: rgb(255, 255, 255);
$black: rgb(30, 30, 30);
$orange: rgb(229, 132, 17);
$orange-footer: rgb(246, 151, 63);
$footer-bg: rgb(45, 47, 51);
$light-green: rgb(0, 214, 201);
$gray: rgb(124, 124, 124);
$series: rgb(141, 141, 141);
$blue: rgb(13, 27, 57);